cardwars-unity/Build/*.unityweb -filter -diff -merge -text
casaSombria/Build/Build/*.unityweb -filter -diff -merge -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
ArenaBrawl/public/assets/models/rpg-poly-lite/** -filter -diff -merge -text
ArenaBrawl/public/assets/models/human-soldier/** -filter -diff -merge -text
ArenaBrawl/public/assets/models/toon-soldier/** -filter -diff -merge -text
ArenaBrawl/public/assets/models/fantasy-mountain/** -filter -diff -merge -text
aventura3d/Build/*.wasm -filter -diff -merge -text
aventura3d/Build/*.js -filter -diff -merge -text
aventura3d/Build/*.data.part* -filter -diff -merge -text
aventura3d/TemplateData/*.png -filter -diff -merge -text
