cardwars-unity/Build/*.unityweb -filter -diff -merge -text
casaSombria/Build/Build/*.unityweb -filter -diff -merge -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
